/*  --- Шрифты --- */
@font-face {
    font-family: 'Halvar Breit Rg';
    src: url('~@/assets/fonts/HalvarBreit-Rg.eot');
    src: local('Halvar Breitschrift Regular'), local('HalvarBreit-Rg'),
        url('~@/assets/fonts/HalvarBreit-Rg.eot?#iefix') format('embedded-opentype'),
        url('~@/assets/fonts/HalvarBreit-Rg.woff2') format('woff2'),
        url('~@/assets/fonts/HalvarBreit-Rg.woff') format('woff'),
        url('~@/assets/fonts/HalvarBreit-Rg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Atlas Grotesk';
    src: url('~@/assets/fonts/Atlas Grotesk-Regular-Desktop.otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
button {
  font-family: 'Halvar Breit Rg', serif;
  font-size: 2rem;
}
p {
  font-family: 'Atlas Grotesk', serif;
  font-size: 1.85rem;
}

/*   --- Сброс стилей ---   */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
}
body {
  margin: 0;
}
#app {
  height: 100vh;
}
button {
  border: none;
}
button > * {
  pointer-events: none;
}

/*   --- Некоторые основные стили ---   */
.color-black {
  background-color: #2a2a2a;
}
.color-blue {
  background-color: #124adf;
}
.color-white {
  background-color: #fff;
}

/*   --- Индивидуальные стили ---   */
/*   --- Стили для блока с вопросами ---   */
.container {
  height: 93.75%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.block-question {
  position: relative;
  width: 45rem;
  padding: 2.5rem 3.75rem 2.5rem 5rem;
  margin-bottom: 5rem;
}
.block-answer {
  position: relative;
  width: 45rem;
  padding: 2.5rem 3.75rem 2.5rem 5rem;
}
.blank {
  position: absolute;
  top: -.1rem;
  right: -.1rem;
  width: 20rem;
  height: 1.9rem;
}
.line {
  width: 30%;
  height: .6rem;
}
.answer-question {
  font-family: 'Halvar Breit Rg', serif;
  font-size: 3rem;
}
.answer-info {
  font-size: 1.3rem;
}
.btn-answer {
  position: absolute;
  left: 6.5rem;
  bottom: -2.5rem;
  width: 17rem;
  height: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}
.sign {
  position: absolute;
  left: 4.5rem;
  bottom: -2.5rem;
  width: 6.6rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.close {
  position: absolute;
  right: -5rem;
  top: 3.3rem;
  width: 6.6rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-block {
  margin-bottom: 0;
  margin-top: auto;
  align-self: flex-end;
  position: fixed;
  bottom: 5rem;
  right: 0;
}

/*   --- Стили для футера ---   */
.footer {
  height: 6.25%;
  display: flex;
  justify-content: flex-end;
}
.paging {
  width: 46%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  width: 13.5%;
}
.page {
  height: 25px;
  width: 25px;
  border: 6px solid #124adf;
  border-radius: 50%;
  margin: auto 6px;
}
